{% if not args %}
    {% set args = {
        switch : [
            {
                categories : 'All events',
                selected : true,
            },
            {
                categories : 'Trending',
                dataTab : 'tab-2',
            },
            {
                categories : 'Suggestions',
                dataTab : 'tab-3',
            }
        ],

        items : [
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours Armin van Buuren',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : 'Contemporary Art Exhibition',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
            {
                type  : 'board',
                imgUrl : 'images/img/baseball.jpg',
                alt : 'baseball',
                place : 'Helsinki',
                event : 'Baseball',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#wins',
            },
            {
                type : 'board',
                imgUrl : 'images/img/baseball.jpg',
                alt : 'baseball',
                place : 'Helsinki',
                event : 'Armin van Buuren - A State of Trance ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#wins',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : ' Contemporary Art Exhibition Contemporary ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#wins',
            },
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours Festival of colours ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#wins',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : 'Contemporary Art Exhibition Armin van Buuren ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
            {
                type : 'board',
                imgUrl : 'images/img/baseball.jpg',
                alt : 'baseball',
                place : 'Helsinki',
                event : 'Baseball',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
            },
            {
                type : 'board',
                imgUrl : 'images/img/baseball.jpg',
                alt : 'baseball',
                place : 'Helsinki',
                event : 'Contemporary Art  ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
            },
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours Festival of colours ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#wins',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : 'Contemporary Art Exhibition Armin van Buuren ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
            {
                type : 'board',
                imgUrl : 'images/img/baseball.jpg',
                alt : 'baseball',
                place : 'Helsinki',
                event : 'Baseball',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
            },
            {
                type : 'board',
                imgUrl : 'images/img/baseball.jpg',
                alt : 'baseball',
                place : 'Helsinki',
                event : 'Contemporary Art  ',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
            },
        ]
    } %}
{% endif %}
<main>
    <section class="s-events">
        <div class="container">
            <h2 class="visually-hidden">Events</h2>
            <div class="s-events__categories">
                {% for item in args.switch %}
                    {% if item.selected %}
                        <button class="s-events__categories-btn js-tab is-active" data-tab="tab-1">
                            {{ item.categories }}
                        </button>
                    {% else %}
                        <button class="s-events__categories-btn js-tab" data-tab='{{ item.dataTab }}'>
                            {{ item.categories }}
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
            <ul class="s-events__list tab is-show tab-1">
                {% for item in args.items %}
                    <li class="s-events__item s-events__item--{{ item.type }}">
                        <div class="s-events__item-wrap">
                            <div class="s-events__item-picture">
                                <img src="{{ item.imgUrl }}" alt="{{ item.alt }}" class="s-events__item-img">
                                <div class="s-events__item-icon">
                                    <svg class="el-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="{{ item.typeIcon }}"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="s-events__item-description">
                                <p class="s-events__item-text">{{ item.place }}</p>
                                <h3 class="s-events__item-title"><a class="s-events__item-link"
                                                                    href="{{ item.link }}">{{ item.event }}</a></h3>
                            </div>
                        </div>
                        <div class="s-events__item-day">
                            <svg class="el-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="#date"></use>
                            </svg>
                            <time datetime="{{ item.datetime }}" class="s-events__item-date">{{ item.date }}</time>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="s-events__list tab tab-2">
                {% for item in args.items %}
                    <li class="s-events__item s-events__item--{{ item.type }}">
                        <div class="s-events__item-wrap">
                            <div class="s-events__item-picture">
                                <img src="{{ item.imgUrl }}" alt="{{ item.alt }}" class="s-events__item-img">
                                <div class="s-events__item-icon">
                                    <svg class="el-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="{{ item.typeIcon }}"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="s-events__item-description">
                                <p class="s-events__item-text">{{ item.place }}</p>
                                <h3 class="s-events__item-title"><a class="s-events__item-link"
                                                                    href="{{ item.link }}">{{ item.event }}</a></h3>
                            </div>
                        </div>
                        <div class="s-events__item-day">
                            <svg class="el-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="#date"></use>
                            </svg>
                            <time datetime="{{ item.datetime }}" class="s-events__item-date">{{ item.date }}</time>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="s-events__list tab tab-3">
                {% for item in args.items %}
                    <li class="s-events__item s-events__item--{{ item.type }}">
                        <div class="s-events__item-wrap">
                            <div class="s-events__item-picture">
                                <img src="{{ item.imgUrl }}" alt="{{ item.alt }}" class="s-events__item-img">
                                <div class="s-events__item-icon">
                                    <svg class="el-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="{{ item.typeIcon }}"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="s-events__item-description">
                                <p class="s-events__item-text">{{ item.place }}</p>
                                <h3 class="s-events__item-title"><a class="s-events__item-link"
                                                                    href="{{ item.link }}">{{ item.event }}</a></h3>
                            </div>
                        </div>
                        <div class="s-events__item-day">
                            <svg class="el-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="#date"></use>
                            </svg>
                            <time datetime="{{ item.datetime }}" class="s-events__item-date">{{ item.date }}</time>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>