{% if not args %}
    {% set args = {
        'switch' : [
            {
                'categories' : 'All events',
                'selected' : 'selected',
            },
            {
                'categories' : 'Trending',
            },
            {
                'categories' : 'Suggestions',
            }
        ],
        'items' : [
            {
                'type' : 'glass',
                'camelCase' : '../../images/img/festival-of-colours.jpg',
                'alt' : 'Festival of colours',
                'place' : 'Helsinki',
                'event' : 'Festival of colours Armin van Buuren',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#cup',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/art.jpg',
                'alt' : 'Art',
                'place' : 'Helsinki',
                'event' : 'Contemporary Art Exhibition',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#art',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/baseball.jpg',
                'alt' : 'baseball',
                'place' : 'Helsinki',
                'event' : 'Baseball',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#boll',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/baseball.jpg',
                'alt' : 'baseball',
                'place' : 'Helsinki',
                'event' : 'Armin van Buuren - A State of Trance ',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#boll',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/art.jpg',
                'alt' : 'Art',
                'place' : 'Helsinki',
                'event' : ' Contemporary Art Exhibition Contemporary ',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#wins',
            },
            {
                'type' : 'glass',
                'camelCase' : '../../images/img/festival-of-colours.jpg',
                'alt' : 'Festival of colours',
                'place' : 'Helsinki',
                'event' : 'Festival of colours Festival of colours ',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#art',
            },
            {
                'type' : 'glass',
                'camelCase' : '../../images/img/festival-of-colours.jpg',
                'alt' : 'Festival of colours',
                'place' : 'Helsinki',
                'event' : 'Festival of colours',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#wins',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/art.jpg',
                'alt' : 'Art',
                'place' : 'Helsinki',
                'event' : 'Contemporary Art Exhibition Armin van Buuren ',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#art',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/baseball.jpg',
                'alt' : 'baseball',
                'place' : 'Helsinki',
                'event' : 'Baseball',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#cup',
            },
            {
                'type' : 'board',
                'camelCase' : '../../images/img/baseball.jpg',
                'alt' : 'baseball',
                'place' : 'Helsinki',
                'event' : 'Armin van Buuren - A State',
                'datetime' : '2018-01-06',
                'date' : 'June 1, 2018 19:00',
                'typeIcon' : '#cup',
            },
        ]
    } %}
{% endif %}
<section class="section">
    <div class="container">
        <main class="menu">
            <h2 class="visually-hidden"></h2>
            <div class="menu__categories">
                {% for item in args.switch %}
                    <button class="menu__categories-button button button--{{ item.selected }}">{{ item.categories }}</button>
                {% endfor %}
            </div>
            <ul class="menu__list">
                {% for item in args.items %}
                    <li class="menu__item menu__item--{{ item.type }}">
                        <img src="{{ item.camelCase }}" alt="{{ item.alt }}"
                             class="menu__item-logo">
                        <div class="menu__item-description">
                            <p class="menu__item-text">{{ item.place }}</p>
                            <h3 class="menu__item-title">{{ item.event }}</h3>
                            <time datetime="{{ item.datetime }}" class="menu__item-date">{{ item.date }}</time>
                            <div class="menu__item-icon">
                                <svg class="el-icon">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="{{ item.typeIcon }}"></use>
                                </svg>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </main>
    </div>
</section>