{% if not args %}
    {% set args = {
        title : 'Ongoing events',

        items : [

            {
                icon: 'profil',
                category : 'Profil',
            },
            {
                state : 'is-active',
                icon: 'event',
                category : 'Event',
            },
            {
                icon: 'photos',
                category : 'Photos',
            },
            {
                icon: 'notifications',
                category : 'Notifications',
            },
            {
                icon: 'settings',
                category : 'Settings',
            },
            {
                icon: 'payment',
                category : 'Payment',
            },
            {
                icon: 'support',
                category : 'Support',
            },

        ],

        cards : [
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours Armin van Buuren',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
                link : 'admin.html',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : 'Contemporary Art Exhibition',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
        ],

        ready : [
            {
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours Armin van Buuren',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
                link : 'admin.html',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : 'Contemporary Art Exhibition',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },{
                type : 'glass',
                imgUrl : 'images/img/festival-of-colours.jpg',
                alt : 'Festival of colours',
                place : 'Helsinki',
                event : 'Festival of colours Armin van Buuren',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#cup',
                link : 'admin.html',
            },
            {
                type : 'board',
                imgUrl : 'images/img/art.jpg',
                alt : 'Art',
                place : 'Helsinki',
                event : 'Contemporary Art Exhibition',
                datetime : '2018-01-06',
                date : 'June 1, 2018 19:00',
                typeIcon : '#art',
            },
        ],
    } %}
{% endif %}

<main>
    <div class="container">
        <section class="user">
            <ul class="user-aside__list">
                {% for item in args.items %}
                    <li class="user-aside__item">
                        <button class="user-aside__btn {{ item.state }}">
                            <svg class="el-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="#{{ item.icon }}"></use>
                            </svg>
                            <p class="user-aside__btn-title">{{ item.category }}</p>
                        </button>
                    </li>
                {% endfor %}
            </ul>
            <div class="user-edit__wrap">
                <section class="user-edit">
                    <h2 class="user-edit__title">{{ args.title }}</h2>
                    <ul class="user-edit__list">
                        {% for item in args.cards %}
                            <li class="user-edit__item user-edit__item--{{ item.type }}">
                                <article class="c-card">
                                    <div class="c-card-wrap">
                                        <div class="c-card-picture">
                                            <img src="{{ item.imgUrl }}" alt="{{ item.alt }}"
                                                 class="c-card-img">
                                            <div class="c-card-icon">
                                                <svg class="el-icon">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         xlink:href="{{ item.typeIcon }}"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="c-card-description">
                                            <p class="c-card-text">{{ item.place }}</p>
                                            <h3 class="c-card-title">
                                                <button class="c-card-btn">{{ item.event }}</button>
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="c-card-day">
                                        <svg class="el-icon">
                                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 xlink:href="#date"></use>
                                        </svg>
                                        <time datetime="{{ item.datetime }}"
                                              class="c-card-date">{{ item.date }}</time>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                        <li class="user-edit__item">
                            <article class="c-card-new">
                                <button class="c-card-new__add">
                                    <svg class="el-icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#plus"></use>
                                    </svg>
                                </button>
                                <h3 class="c-card-new__title">Legg till arrangement</h3>
                            </article>
                        </li>
                    </ul>
                </section>
                <section class="user-ready">
                    <div class="user-ready__wrap">
                        <h2 class="user-ready__title">Tidligere events</h2>
                        <div class="user-reade__btn-wrap">
                            <button class="user-ready__btn user-ready__btn--left">left</button>
                            <button class="user-ready__btn user-ready__btn--left">right</button>
                        </div>
                    </div>
                    <div class="slick">
                        <ul class="user-ready__list">
                            {% for item in args.ready %}
                                <li class="user-edit__item  user-edit__item--{{ item.type }}">
                                    <article class="c-card">
                                        <div class="c-card-wrap">
                                            <div class="c-card-picture">
                                                <img src="{{ item.imgUrl }}" alt="{{ item.alt }}"
                                                     class="c-card-img">
                                                <div class="c-card-icon">
                                                    <svg class="el-icon">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                             xlink:href="{{ item.typeIcon }}"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="c-card-description">
                                                <p class="c-card-text">{{ item.place }}</p>
                                                <h3 class="c-card-title">
                                                    <button class="c-card-btn">{{ item.event }}</button>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="c-card-day">
                                            <svg class="el-icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     xlink:href="#date"></use>
                                            </svg>
                                            <time datetime="{{ item.datetime }}"
                                                  class="c-card-date">{{ item.date }}</time>
                                        </div>
                                    </article>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </section>
    </div>
</main>