{% if not args %}
    {% set args = {
        avatar: 'images/img/ava.png',
        btn: 'Go!',
        name : 'Robert Singer ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff',
        nav:
        [
            {
                icon: '#drop',
                link: '#',
                title:'Oslo, Norway',
            },
            {
                icon : '#union',
                link : '#',
                title: '61 km'
            },
            {
                icon : '#cubes',
                link : '#',
                title: 'Categories'
            },
            {
                icon : '#date',
                link : '#',
                title : 'June 4, 2018'
            }
        ],
        buttonNav : 'Reset',
    } %}
{% endif %}
<header class="header">
    <div class="header-banner">
        <h1 class="header-banner__logo">
            <a href="/">
                <svg class="el-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                </svg>
                <span class="visually-hidden">Asamt</span>
            </a>
        </h1>
        <div class="header-banner__search">
            <form class="header-banner__search" method="get">
                <input type="search" class="header-banner__search-input" id="search"
                       name="search" placeholder="I'm looking for...">
                <button class="header-banner__search-btn" type="submit">{{ args.btn }}</button>
            </form>
        </div>
        <button class="header-banner__user">
            <img src="{{ args.avatar }}" alt="avatar">
            <span class="header-banner__user-name">{{ args.name }}</span>
        </button>
    </div>
    <div class="header__basis clearfix">
        <nav class="header__nav">
            <ul class="header__nav-list">
                {% for item in args.nav %}
                    <li class="header__nav-item">
                        <button class="header__nav-item--btn" href="{{ item.link }}">
                            <svg class="el-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ item.icon }}"></use>
                            </svg>
                            <span class="header__nav-item--title">{{ item.title }}</span>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="header__basis-reset">
            <button class="header__basis-btn" type="button">{{ args.buttonNav }}</button>
        </div>
    </div>
</header>
