{% if not args %}
    {% set args = {
        avatar: 'images/img/ava.png',
        btn: 'Go!',
        name : 'Robert Singer',
        nav:
        [
            {
                icon: '#drop',
                link: '#',
                title:'Oslo, Norway',
            },
            {
                icon : '#union',
                link : '#',
                title: '61 km'
            },
            {
                icon : '#cubes',
                link : '#',
                title: 'Categories'
            },
            {
                icon : '#date',
                link : '#',
                title : 'June 4, 2018'
            }
        ],
        buttonNav : 'Reset',
    } %}
{% endif %}
<header class="header">
    <div class="header-banner">
        <div class="header-banner__container">
            <div class="header-banner__wrap-logo">
                <h1 class="header-banner__logo">
                    <a href="/">
                        <svg class="el-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use>
                        </svg>
                        <span class="visually-hidden">Asamt</span>
                    </a>
                </h1>
                <h2 class="header-banner__partner">
                    <a href="#" class="header-banner__partner-link">
                        <svg class="el-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#partner"></use>
                        </svg>
                    </a>
                </h2>
            </div>
            <form class="header-banner__search" method="get">
                <input type="search" class="header-banner__search-input header-banner__search-input--{{ page }}" id="search"
                       name="search" placeholder="I'm looking for...">
                <button class="header-banner__search-btn" type="submit">{{ args.btn }}</button>
            </form>
            <button class="header-banner__user">
                <img class="header-banner__user-avatar" src="{{ args.avatar }}" alt="avatar">
                <span class="header-banner__user-name">{{ args.name }}</span>
            </button>
        </div>
    </div>
    <div class="header__basis {{ state }}">
        <nav class="header__nav">
            <button class="header__nav-toggle js-toggle">
                <span class="visually-hidden">Кнопка меню</span>
            </button>
            <ul id="navList" class="header__nav-list js-nav">
                {% for item in args.nav %}
                    <li class="header__nav-item">
                        <button class="header__nav-item--btn" href="{{ item.link }}">
                            <svg class="el-icon">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ item.icon }}"></use>
                            </svg>
                            <span class="header__nav-item--title">{{ item.title }}</span>
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="header__basis-reset">
            <button class="header__basis-btn" type="button">{{ args.buttonNav }}</button>
        </div>
    </div>
</header>
